<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/utility.css'%}">
    <link rel="stylesheet" href="{%static 'css/create_post.css'%}">
</head>
<body>
    {%include 'navbar.html'%}
    <section class="create-post-body flex-center">
        <div class="container flex-column">
            <h2>Create a Post</h2>
            <form action="{% url 'create_post' %}" method="post" class="flex-column flex-column" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="image-input ">
                    <label for="post-image">Choose a Image:</label>
                    <input type="file" id="post-image" name="post-image" required>
                </div>
                <div class="title-input">
                    <label for="title">Title :</label>
                    <input type="text" id="title" name="post-title" required>
                </div>
                <div id="skills-container">
                    <label for="skills-input">Enter Required Skills:</label>
                    <ul id="skills-list">
                        <li>
                            <input type="text" name="skills[]" placeholder="Enter required skill">
                        </li>
                    </ul>
                    <button type="button" id="add-skill-btn">Add Skill</button>
                    <button type="button" id="remove-skill-btn">Remove Skill</button>
                </div>
                <div id="experience-container">
                    <label for="experience-input">Enter Required Experiences:</label>
                    <ul id="experience-list">
                        <li>
                            <input type="text" name="experiences[]" placeholder="Enter required experience">
                        </li>
                    </ul>
                    <button type="button" id="add-experience-btn">Add experience</button>
                    <button type="button" id="remove-experience-btn">Remove Experience</button>
                </div>
                <div class="description-input">
                    <label for="description">Description:</label>
                    <textarea id="description" name="post-description" rows="5" cols="30" required></textarea>
                </div>
                <input type="submit" value="Create Post">
            </form>
        </div>
    </section>
</body>
<script>
    const skills_container = document.getElementById("skills-container");
    const experience_container = document.getElementById("experience-container");

    document.addEventListener('DOMContentLoaded', () => {
        skills_container.style.display = 'block';
        experience_container.style.display = 'block';
    });

    document.getElementById('remove-skill-btn').addEventListener('click', function () {
        const skillsList = document.getElementById('skills-list');
        if (skillsList.lastElementChild) {
            skillsList.removeChild(skillsList.lastElementChild);
        } else {
            alert('No more skills to remove');
        }
    });


    document.getElementById('add-skill-btn').addEventListener('click', function () {
        const skillsList = document.getElementById('skills-list');
        const newSkill = document.createElement('li');
        newSkill.innerHTML = '<input type="text" name="skills[]" placeholder="Enter required skill">';
        skillsList.appendChild(newSkill);
    });
    
    document.getElementById('add-experience-btn').addEventListener('click', function () {
        const experienceList = document.getElementById('experience-list');
        const newExperience = document.createElement('li');
        newExperience.innerHTML = '<input type="text" name="experiences[]" placeholder="Enter required experience">';
        experienceList.appendChild(newExperience);
    });
    document.getElementById('remove-experience-btn').addEventListener('click', function () {
        const experienceList = document.getElementById('experience-list');
        if (experienceList.lastElementChild) {
            experienceList.removeChild(experienceList.lastElementChild);
        } else {
            alert('No more experiences to remove');
        }
    });
    
</script>
</html>