<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/utility.css'%}">
    <link rel="stylesheet" href="{%static 'css/login.css'%}">
</head>
<body>
    <div class="login flex-center">
        <div class="login-form flex-center">
            <h2>Forgot Password</h2>
            <p id="popup-message"></p>
            <form action="#" method="post" class="flex-column" id="fpassword_form">
                {%csrf_token%}
                <input type="email" placeholder="Enter your Email (e.g. example@gmail.com)" name="email" required>
                <input type="password" placeholder="Enter your New Password" name="password" id="password" required>
                <input type="password" placeholder="Confirm your Password" name="cpassword" id="cpassword" required>
                <input type="submit" value="Save" class="login-button button">
            </form>
            <p>Don't have an account? <a href="register.html" title="Register">Register Here</a></p>
        </div>
    </div>
</body>
<script>
    const forgot_form = document.getElementById('fpassword_form');
    forgot_form.addEventListener('submit', (event) => {
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('cpassword').value;
        if (password != confirmPassword){
            alert("Passwords do not match");
            event.preventDefault(); 
        }
    });


    const popup_message = document.getElementById('popup-message');
    popup_message.style.display = 'none'; // Hide the popup initially

    function show_message(message) {
        popup_message.innerText = message; // Set the message text
        popup_message.style.display = 'block'; // Show the popup
        popup_message.style.color = 'white'; // Set the text color (optional styling)
        setTimeout(() => {
            popup_message.style.display = "none"; // Hide the popup after 5 seconds
        }, 5000);
    }

    {% if messages %}
    {% for message in messages %}
    show_message('{{ message }}'); // Trigger the popup for each message
    {% endfor %}
    {% endif %}
</script>
</html>