{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <title>Navbar</title>
    <link rel="stylesheet" href="{%static 'css/utility.css'%}">
    <link rel="stylesheet" href="{%static 'css/navbar.css'%}">
</head>
<body>
    <header class="flex-center">
        <div class="container">
            <nav class="flex">
                <div class="logo-container">
                    <h3><a href="{%url 'enterprise_user_home'%}" title="Landing Page">User Management System</a></h3>
                </div>
                <div class="menu">
                    <ul class="flex">
                        <li><a href="{%url 'create_post'%}" title="Create a post">Create a Post</a></li>
                        <li><a href="{%url 'my_posts'%}" title="My Posts">My Posts</a></li>
                    </ul>
                </div>
                <div class="name-container">Hi <a href="{%url 'dashboard'%}" title="Dashboard">{{user.email}}</a></div>
            </nav>
        </div>
    </header>
</body>
</html> {% endcomment %}
<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {%load static%}

      <!--=============== REMIXICONS ===============-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="{%static 'css/utility.css'%}">
      <link rel="stylesheet" href="{%static 'css/navbar.css'%}">

      <title>Navbar</title>
   </head>
   <body>
      <!--==================== HEADER ====================-->
        <header class="header" id="header">
            <nav class="nav container">
                <h3><a href="{%url 'user_home'%}" title="Landing Page">User Management System</a></h3>

                    <div class="nav__menu" id="nav-menu">
                    {% comment %} <ul class="nav__list">
                        <li class="nav__item">
                            <a href="{%url 'create_post'%}" class="nav__link" title="Create Post">
                                <i class="ri-arrow-right-up-line"></i>
                                <span>Create a Post</span>
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="{%url 'my_posts'%}" class="nav__link" title="My Posts">
                                <i class="ri-arrow-right-up-line"></i>
                                <span>My Posts</span>
                            </a>
                        </li>
                    </ul> {% endcomment %}

                    <!-- Close button -->
                    <div class="nav__close" id="nav-close">
                        <i class="ri-close-large-line"></i>
                    </div>

                    <div class="nav__social">
                        <div class="name-container">Hi <a href="{%url 'user_dashboard'%}" title="Dashboard">{{user.email}}</a></div>
                    </div>
                    </div>

                    <!-- Toggle button -->
                    <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-line"></i>
                    </div>
            </nav>
      </header>
      {% comment %} <script src="main.js"></script> {% endcomment %}
   </body>
   <script>
        /*=============== SHOW MENU ===============*/
    const navMenu = document.getElementById('nav-menu'),
    navToggle = document.getElementById('nav-toggle'),
    navClose = document.getElementById('nav-close')

    /* Menu show */
    if(navToggle){
    navToggle.addEventListener('click', () =>{
    navMenu.classList.add('show-menu')
    })
    }

    /* Menu hidden */
    if(navClose){
    navClose.addEventListener('click', () =>{
    navMenu.classList.remove('show-menu')
    })
    }
   </script>
</html>