.container h2{
    align-self: center;
    font-size: 2rem;
}
.container input[type="submit"]{
    width: max-content;
    align-self: center;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}
.container form{
    justify-content: flex-start;
    width: 100%;
    gap: 30px;
}
form input, textarea, form label{
    width: 100%;
    font-size:1.25rem ;
}
.create-post-body{
    margin-top: 100px;
}