.view-post{
    margin-top: 100px;
    width: 100vw;
}
.view-post .container{
    align-items: center;
    gap: 25px;
}
.view-post .container img{
    width: 200px;
    height: 200px;
}
.view-post .container p{
    font-size: 1.2rem;
}
.experiences ul li, .skills ul li{
    list-style-type:disc;
    margin: 10px 0 0 20px;
}
.skills ul{
    flex-wrap: wrap;
}
.button{
    width: max-content;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}